.grid-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid table{
    height: 100%;
    max-width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
    border: 1px solid black;
}

.block {
    height: 25px;
    max-height: 25px;
    width: 25px;
    max-width: 25px;
    font-size: 5px;
    line-height: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
}

.empty {
    border: 1px solid black;
}