.Grid {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    border-spacing: 0;
    border: 1px solid black;
}

.block {
    height: 25px;
    max-height: 25px;
    width: 25px;
    max-width: 25px;
    font-size: 6px;
}

.empty {
    border: 1px solid black;
}